<article>
    <h1><%= @mytask.task_name %></h1>
    <p><%= @mytask.description %></p>
    <p><%= @mytask.completion_status %></p>
    <p><%= @mytask.completion_date %></p>
    <p> <%= link_to( 'Edit', edit_path ) %> </p>
    <p><%= link_to( 'View All Tasks', index_path ) %></p>
</article>
