<%= form_with model: @task, class: 'edit-task' do |f| %>
  <p>Please provide the following info to edit your task:</p>
  <div>
  <%= f.label :task %>
  <%= f.text_field :name %>
  </div>

  <div>
  <%= f.label :description %>
  <%= f.text_field :description %>
  </div>

  <%= f.submit "Save changes" %>
<% end %>
