<h1>Hey <%= @current_user.email %>!</h1>
<h1>DO YOUR CHORES</h1>
<% @tasks.each do |t| %>
  <p>
    <%= "#{t.name} #{t.completion}" %>
    <%= button_to "Record Completed", task_record_completion_path(t), method: :patch %>
    <%= link_to "Details", task_path(t) %>
    <%= link_to "Edit", task_edit_path(t) %>
    <%= link_to "Destroy", task_path(t), method: :delete, data: {confirm: "Are you sure you want to delete that task? Did you even do it?"} %>
  </p>
<% end %>

<p> <%= link_to "Add a new task", tasks_new_path %> </p>
<p>
  <%= button_to "Logout", sessions_delete_path, method: :delete %>
</p>
