<h1>DO YOUR CHORES</h1>
<% @tasks.each do |t| %>
  <p>
    <%= "#{t.name} #{t.completion}" %>
    <%= link_to "click if complete", task_path(t), method: :patch %>
    <%= link_to "Details", task_path(t) %>
    <%= link_to "Edit", task_edit_path(t) %>
    <%= link_to "Destroy", task_path(t), method: :delete, data: {confirm: "Are you sure you want to delete that task? Did you even do it?"} %>
  </p>
<% end %>

  <%= link_to "Create New Task", tasks_new_path %>
  <%= button_to "Login with Github", "/auth/github" %>
