<h1>Here is a list of your tasks today!</h1>
  
<% @tasks.each do |task| %>
  <h3>

    <%= link_to task.title, show_path(task) %>: 
    <%= task.description %>
    <%= task.completed_at %>
  </h3> 
  <%= button_to  "Delete Task", destroy_path(task), 
  method: :delete, data: {confirm: "Are you sure you want to delete your task?"} %>
  <%= button_to "Complete", completed_at_path(task), method: :patch, data: {confirm: "Did you really complete it or are you checking boxes?"} %>

<% end %>
