<h1>Create A New Task</h1>

<article>

<%= form_for @newtask, url: create_path do |f| %>
  <%= f.label :title %> <!-- title is the name of the instance varaible to name this with -->
  <%= f.text_field :title %>

  <%= f.label :description %>
  <%= f.text_field :description %>

  <%= f.submit %>
<% end %>


</article>
