<h1>Create a new task!</h1>


<%= form_for Task.new, as: :task, url: create_path do |f| %> 
  <%= f.label :title %>
  <%= f.text_field :title %>

  <%= f.label :description %>
  <%= f.text_field :description %>

  <%= f.submit %>


<% end %>
