<article>
    <h1><%= @mytask[:thing] %></h1>
    <p><%= @mytask[:description] %></p>
    <p><%= @mytask[:completion_status] %></p>
    <p><%= @mytask[:completeion_date] %></p>
    <p><%= link_to( 'View All Tasks', index_path ) %></p>
</article>
