<div class="alert">
  <ul>
    <%= link_to "Add a Task!", "/tasks/new" %>
    <%= link_to "tasks", "/" %>
    <%= link_to "Peeps!", "/people/" %>
  </ul>
</div>

<h1 class="wave_one_header">People!!</h1>

<section>
  <ul class="WHOOT">
    <% @all_people.each do |person| %>
    <p><%= link_to person.name, people_path(person.id) %></p>
        <% if Person.count_not_completed(person.id) == 1 %>
        <%= "#{Person.count_not_completed(person.id)} uncompleted task" %>
        <% else %>
        <%= "#{Person.count_not_completed(person.id)} uncompleted tasks" %>
        <% end %>
        <%= link_to "details", people_path(person.id) %>
    <% end %>
  </ul>
</section>
