<div class="alert">
  <ul>
    <%= link_to "Add a Task!", "/tasks/new" %>
    <%= link_to "tasks", "/" %>
    <%= link_to "Peeps!", "/people/" %>
  </ul>
</div>

<h2><em>Name:</em><br>
   <%= @person.name %></h2>
<h2><em>Tasks completed:</em><br>
  <%= Person.count_completed(@person.id) %>
  <h2><em>Tasks uncompleted:</em><br>
  <%= Person.count_not_completed(@person.id) %>
