<div class="alert">
  <ul>
    <%= link_to "Add a Task!", "/tasks/new" %>
    <%= link_to "tasks", "/" %>
    <%= link_to "Peeps!", "/people" %>
  </ul>
</div>

<h1 class="wave_one_header"><%= "#{@person.name}" %> 's Tasks!</h1>

  <h2>Completed tasks:</h2>
      <% @tasks.each do |task| %>
        <% if task.completed_at.present? %>
        <ul>
        <h2><%= task.name %>: <%= link_to task.description, task_path(task.id) %></h2>
        <% end %>
        </ul>
      <% end %>

  <h2>Uncompleted tasks:</h2>
    <% @tasks.each do |task| %>
      <% if !task.completed_at %>
      <h2><%= task.name %>: <%= link_to task.description, task_path(task.id) %></h2>
      <% end %>
    <% end %>
