<h1><strong>Here's your task:</strong></h1>
<h2><em>Name:</em> <%= @task.name %></h2>
<h2><em>Description:</em> <%= @task.description %></h2>
<h2><em>Status:</em> <%= @task.completed_status %></h2>
<h2><em>Completed at:</em> <%= @task.completed_at %></h2>

<%= link_to 'home', root_path %>
