<!DOCTYPE html>
<html>
  <head>
    <title>TaskList</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
<header>
  <h1> Welcome to Task-List</h1>
<!--  <nav>-->
<!--    <ul>-->
<!--      <li><%#= link_to "Create a task",tasks_path %> </li>-->
<!--      <li><a href=" <%#=tasks_path %>"> All tasks</a> </li>-->
<!--    </ul>-->
<!--  </nav>-->
</header>

  <body>
    <%= yield %>
  </body>
<footer>
  <p> Copyright Ana Parada - Ada Developers Academy C14 - 2020 </p>
</footer>
</html>
